<!-- ESTO AUN NO FUNCIONAAAAAA!!! -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tienda Virtual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/productos/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos/about">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos/list">Ver productos</a>
      </li>
      

 

      <div th:unless="${#authorization.expression('isAuthenticated()')}">  
       <li class="nav-item">
        <a class="nav-link" href="/productos/login">Iniciar sesión</a>
       </li>
      </div>  
      
      <div sec:authorize="isAuthenticated()">
       <li class="nav-item">
        <a class="nav-link" href="/productos/logout">Cerrar sesión</a>
       </li> 
      </div>
    </ul>
  </div>
</nav>



<header class="page-header header container-fluid">
<div class="overlay">

	<div class="container my-2">
        <div class="card-transparent">
            <div class="card-body rounded" style="background-color: rgba(0, 0, 0, 0.4); ">
                <div th:switch="${products}" class="container my-5">
                         <h2 th:case="null">No products yet!</h2> 
                        <div th:case="*">
                            <table class="table table-striped table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th style="width: 40%">Nombre</th>
                                        <th>Descripción</th>
                                        <th style="width: 11%">Precio</th>
                                        <th style="width: 18%">Imagen</th>
                                        <th style="width: 10%">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto : ${products}">
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.cantidad}"></td>
                                        <td><img th:src="@{/pic/{id}(id=${producto.foto}+.jpg)}" width="80" class="rounded"></td>
                                        
                                        <td>
                                         <a data-toggle="modal" data-target="#modalLong" th:attr="data-target='#modalLong'+${producto.id }" class="btn btn-primary">
                                            <i class="fas fa-glasses ml-2"></i></a>
                                         <div class="modal fade" th:id="modalLong+${producto.id}" tabindex="-1" role="dialog" aria-labelledby="detalleProducto" aria-hidden="true">
                                               <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                      <div class="modal-header">
                                                    <h5 class="modal-title text-dark">Detalle de producto</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <h4 class="text-dark" th:text="${producto.nombre}"></h4>
                                                        <p><img th:src="@{/pic/{id}(id=${producto.foto}+.jpg)}" width="240" class="rounded"></p>
                                                      </div>
                                                 </div>
                                               </div>
                                          </div>
                                        </td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
           </div>
      </div>
</div>
</header>